	html, body
	{
		height: 100%;
	}
	
	body
	{
	margin: 0px;
	padding: 0px;
	background: #282828 url(../images/bg01.png) repeat;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: #919191;
	position: relative;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #747474;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		margin: 0px auto;
		width: 1200px;
	}
	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 2em;
	}

	.title h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2em;
		color: #FFF;
	}
	
	.title .byline
	{
		color: #6F6F6F;
	}
	
	.title .byline2
	{
		color: #E7521A;
	}
	
	.title2
	{
		margin-bottom: 2em;
		margin-left: 1em;
		margin-right: 1em;
	}
	.title2 h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.2em;
		color: #FFF;
	}
	
	.title2 blockquote
	{
		text-align:right;
		color: #FFF;
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-right
	{
		float: right;
		margin: 2em 0 0 2em;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}
	


/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1 {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
	
	ul.style1 span {
		margin: 0px;
		padding: 0px;
		list-style: none;
		color:#FFFFFF
	}
	
	ul.style1 li {
		padding: 10px 0px 15px 0px;
		border-top: 1px solid #363636;
	}
	
	ul.style1 a {
		text-decoration: none;
		color: #919191;
	}
	
	ul.style1 a:hover {
		text-decoration: underline;
	}
	
	ul.style1 .first {
		padding-top: 0px;
		border-top: none;
	}

	ul.style2 {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
	
	ul.style2 li {
		padding: 25px 0px 15px 0px;
		border-top: 1px solid #363636;
	}
	
	ul.style2 .first {
		padding-top: 0px;
		border-top: none;
	}
	
	ul.style2 h3 {
		padding: 0px 0px 10px 0px;
		letter-spacing: 0.10em;
	}
	
	ul.style2 h3 a {
		color: #FFF;
	}
	
	ul.style2 a {
		text-decoration: none;
		color: #919191;
	}
	
	ul.style2 a:hover {
		text-decoration: underline;
	}
	
	ul.style3  {
		margin: 0px;
		padding: 0px;
	}
	
	ul.style3 li {
		padding: 10px 0px 10px 0px;
		border-top: 1px solid #363636;
	}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		background: #E7521A;
		border-radius: 5px;
		line-height: 4em;
		padding: 0 3em;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		letter-spacing: 0.25em;
		text-decoration: none;
		text-transform: uppercase;
		outline: 0;
		white-space: nowrap;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		font-size: 0.80em !important;
		color: #fff !important;
	}

		.button:hover
		{
			background: #BB1717;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		
		.button:active
		{
			background: #B41313;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 3em 0em;
		text-transform: uppercase;
	}
	
	#logo h1 a
	{
		text-decoration: none;
		font-size: 1.5em;
		color: #FFF;
	}
	
	#logo span
	{
		color: #E7521A;
	}
	
	#logo p
	{
		margin: 0;
		padding: 0;
		letter-spacing: 0.10em;
		font-size: 0.90em;
	}

	#logo p a
	{
		text-decoration: none;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		background: #1B1B1B url(../images/bg01.png) repeat;
		border-bottom: 4px solid #E7521A;
	}
	
	#menu ul
	{
		margin: 0;
		padding: 0px 0px 0px 0px;
		list-style: none;
		line-height: normal;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu a
	{
		display: block;
		padding: 0em 2em;
		line-height: 80px;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;
		color: #838383;
	}
	
	#menu .current_page_item a
	{
		background: #E7521A;
		color: #FFF;
	}
	
	#menu a:hover
	{
		text-decoration: none;
		color: #FFF;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		margin: 2em auto;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		padding: 3em 0em;
		border-bottom: 1px solid #363636;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 800px;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 300px;
	}
	
	#sidebar .title
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		color: #FFF;
	}
	
	#sidebar2
	{
		float: right;
		width: 525px;
		border: 1px solid #363636;
	}
	#sidebar2 .iframe
	{
		margin:1em;
	}
	
	#sidebarleft
	{
		float: left;
		width: 620px;
		border: 1px solid #363636;
		border-spacing:2px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer {
		overflow: hidden;
		padding: 6em 0em 4em 0em;
		border-bottom: 1px solid #363636;
	}
	
	#footer .title
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		color: #FFF;
	}

	#footer #fbox1 {
		float: left;
		width: 400px;
		margin-right: 50px;
	}
	
	#footer #fbox2 {
		float: left;
		width: 400px;
	}
	
	#footer #fbox3 {
		float: right;
		width: 300px;
	}
	
	#footer #fbox4 {
		float: left;
		margin-left:300px;
		width: 300px;

	}
	#footer #fbox5 {
		float: right;
		margin-right:300px;
		width: 300px;

	}
	#footer #fbox6 {
		float: right;
		margin-right:400px;
		width: 300px;

	}
	#footer #fbox7 {
		float: right;
		width: 640px;
	
	}
	#fbox7 .iframe
	{
		margin-bottom: 2em;
		margin-left: 1em;
		margin-right: 1em;
	}
	#fbox6 .span {
		color: #FFF;

	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		padding: 6em 0em;
		font-size: 0.75em;
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		color: #6A6A6A;
	}
	
	#copyright2
	{
		padding: 0em 0em;
		font-size: 1.2em;
		text-align: center;
		text-transform: uppercase;
		color: #6A6A6A;
		font-weight: 700;
	}
	
	#copyright2 span
	{
		color: #E7521A;
	}
	
	#copyright a
	{
		color: #747474;
	}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

	#three-column
	{
	overflow: hidden;
	margin-bottom: 1em;
	background: #FFF;
	border-bottom: 4px solid #BC1414;
	color: #525252;
	/* [disabled]text-align: right; */
	}
	
	#three-column h2
	{
		margin: 1em 0em;
		text-transform: uppercase;
		font-size: 1.4em;
		font-weight: 700;
		color: #454445;
	}
	
	#three-column #tbox1,
	#three-column #tbox2,
	#three-column #tbox3
	{
		float: left;
		width: 300px;
		padding: 50px 50px 80px 50px;
	}


/*********************************************************************************/
/* Gallery                                                          		     */
/*********************************************************************************/

	.projectGallery
	{
    	color: #797478;
    	font: 10px;
   	 	float: left;
		overflow:auto;   
     
    	width: 21%;
    	margin:  2% 2% 25px 2%; 
	
	}
	.projectGallery
	{
    	color: #797478;
    	font: 10px/1.5 Verdana, Helvetica, sans-serif;
    	float: left;
	
	}
 
	.projectGallery img 
	{
		opacity: .8;
   		max-width: 100%;
    	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
    	border-radius: 5px;
	}
	
	.projectGallery img:hover
	{
		opacity: 1;
	}
	
	#cu3er-container {
		width:800px; 
		height:360px; 
		float:left; 
		outline:0; 
		}