<div class="bg-light text-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center">
                    <a href="https://goo.gl/maps/g1BeZoawZvH2" target="_blank">
                        <i class="fa d-inline mr-3 fa-map-marker"></i>
                        {{ site.address }}</a>
                    <br/>
                    <a href="tel:7033351058">
                        <i class="fa d-inline mr-3 fa-phone"></i>{{ site.phone }}</a>
                </p>
            </div>
        </div>
    </div>
</div>